<div class="comment-box">
		<ul class="comment-list" id="<%= "comment-list-#{photo.id}"%>">
				<% if photo.description != '' %>
					<li class="single-comment">
							<p>
									<%= link_to photo.user.username, user_page_path(photo.user), class: 'comment-username' %>
									<span class="comment-text">
											<%= photo.description%>
									</span>
							</p>
					</li>
				<% end %>
				<%= render photo.comments %>
		</ul>
</div>
