<li class="single-comment" aria-label="<%= "Comment from #{comment.user.username}" %>">
    <p>
        <%= link_to comment.user.username, user_page_path(comment.user.id), class: 'comment-username' %>
        <span class="comment-text">
            <%= comment.text %>
        </span>
    </p>
</li>
