<div class="comment-box">
		<ul class="comment-list" id="<%= "comment-list-#{photo.id}"%>">
				<li class="single-comment">
						<h1>
								<%= link_to photo.user.username, user_page_path(photo.user), class: 'comment-username' %>
								<span class="comment-text">
										<%= photo.description%>
								</span>
						</h1>
				</li>
				<%= render photo.comments %>
		</ul>
</div>
