<div class="photo-page__container single-photo" id="<%= "single-photo-#{@photo.id}" %>">
  <div class="photo-page__photo">
    <%= image_tag @photo.image.url(:large), alt: @photo.id %>
  </div>
  <%= render 'information_section', photo: @photo %>
</div>
