<div class="photo-page__container single-photo">
  <div class="photo-page__photo">
    <%= image_tag @photo.image.url(:large) %>
  </div>
  <%= render 'application/information_section', photo: @photo %>
</div>
