.form__container
  min-height: 320px
  padding: rem(30px) rem(15px)
  margin-top: rem(130px)
  border: 1px solid $border-color
  background: #fff

.form__title
  display: block
  width: 200px
  margin: 0 auto

.form__field
  @extend .field
  display: block
  width: 100%
  padding: rem(10px)
  margin: rem(5px) auto

  @media #{$tablet-breakpoint}
    margin: rem(5px) 0

.form__submit-button
  display: block
  width: 100%
  margin: rem(10px) auto
  padding: rem(5px)
  border: 1px solid $insta-blue
  border-radius: 3px
  background-color: $insta-blue
  color: #fff
  font-family: $font-family
  font-size: rem(16px)

  @media #{$tablet-breakpoint}
    margin: rem(10px) 0

.form__helper
  height: 50px
  padding: 0 rem(15px)
  margin-top: rem(20px)
  border: 1px solid $border-color
  text-align: center
  background: #fff

.form__error
  color: $error-red
  text-align: center
  margin-top: rem(20px)

  p
    margin: 0 0 rem(5px) 0
