.form__container
  min-height: 320px
  padding: 30px 15px
  margin-top: 130px
  border: 1px solid $border-color
  background: #fff

.form__title
  display: block
  width: 200px
  margin: 0 auto

.form__field
  @extend .field
  display: block
  padding: 10px
  width: 300px
  margin: 5px auto
  @media #{$tablet-breakpoint}
    width: 100%
    margin: 5px 0

.form__submit-button
  display: block
  width: 300px
  margin: 10px auto
  padding: 5px
  border: 1px solid $insta-blue
  border-radius: 3px
  background-color: $insta-blue
  color: #fff
  font-family: $font-family
  font-size: $base-font-size

  @media #{$tablet-breakpoint}
    width: 100%
    margin: 10px 0

.form__helper
  height: 50px
  padding: 0 15px
  margin-top: 20px
  border: 1px solid $border-color
  text-align: center
  background: #fff

.form__errors ul
  padding: 0
  color: $error-red
  text-align: center
  list-style: none
