.main-header
  margin: 0 0 rem(45px) 0
  padding: 0 rem(20px)
  border-bottom: 0.5px solid $border-color
  background-color: #fff

.main-header__menu
  @include flexbox()
  width: 100%
  height: $footer-height
  margin: 0 auto
  align-items: center
  justify-content: space-between

  @media #{$tablet-breakpoint}
    max-width: 937px

.main-header__logo
  margin: 0 rem(10px) 0 0
  padding: 0 rem(10px) 0 0
  border-right: 1px solid #000

  img
    height: 25px

  @media #{$tablet-breakpoint}
    margin: 0 rem(20px) 0 0
    padding: 0 rem(20px) 0 0

    img
      height: 30px

.main-header__written-logo img
  height: 30px

  @media #{$tablet-breakpoint}
    height: 40px

.main-header__menu-icons
  margin-left: rem(10px)

  img
    height: 20px

  @media #{$tablet-breakpoint}
    margin-left: rem(20px)

    img
      height: 30px

.main-header__menu-sections
  @include flexbox()
  align-items: center

.main-header__search
  padding: rem(6px) 0px
  border: 1px solid $border-color
  border-radius: 3px
  color: #9ba1a7
  font-size: rem(16px)
  font-weight: 100
  text-align: center
  background-color: $background-color

  @media #{$tablet-breakpoint}
    padding: rem(6px) rem(30px)
