.main-header
  height: 80px
  margin: 0 0 40px 0
  padding: 10px 0
  border-bottom: 0.5px solid black
  background-color: #fff

.main-header__menu
  list-style: none
  width: 1100px
  margin: 0 auto
  padding: 0

.main-header__menu-option
  display: inline-block

.main-header__menu-banner
  margin: 0 20px 0 0
  padding: 0 20px 0 0
  border-right: 1px solid black

.main-header__menu-logo
  margin-right: 290px

.main-header__menu-search
  margin-right: 290px
