.notification
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  text-decoration: none
  flex-direction: row
  justify-content: flex-start
  font-size: 20px
  padding: 10px
  margin: 5px
  border: 1px solid black
  font-size: 14px

.notification__avatar
  border-radius: 100px
  width: 50px

.notification__right-side
  margin-left: auto


.notification__text
  margin-left: 10px
  color: black

.notification__photo
  width: 50px
  height: 50px
