.photo-page

.photo-page__container
  width: 937px
  height: 600px
  margin: 0 auto
  background-color: #fff
  border: 1px solid $border-color

.photo-page__infos
  height: 600px
  width: 337px
  float: right

.photo-page__photo
  width: 598px
  height: 598px
  margin: 0 auto
  float: left
  border-right: 1px solid $border-color

.photo-page__user-profile
  margin: 0 0 10px 0
  padding: 20px 15px
  border-bottom: 1px solid $border-color

.photo-page__user-profile-photo
  border: 1px solid $border-color
  border-radius: 75px

.photo-page__user-profile-username
  line-height: 1px

.photo-page__stats
  padding-left: 15px

.photo-page__photo-stats
  padding: 10px 0
  height: 50px

.photo-page__created-at
  float: right
  margin-right: 10px

.photo-page__likes
  font-weight: 600

.photo-page__comment-box
  overflow-y: scroll
  overflow-x: hidden
  height: 410px
  width: 100%

.photo-page__comment-list
  list-style: none
  padding: 0 10px 0 0
  margin: 0

.photo-page__single-comment
  margin-bottom: 7px

.photo-page__single-comment h1
  margin: 0
  padding: 0
  font-size: inherit
  word-break: break-all

.photo-page__comment-username
  font-weight: 600

.photo-page__comment-text
  font-weight: 100

.photo-page__like-button
  float: left

.photo-page__interation
  margin-top: 10px
