.user-profile
  width: 75%
  margin: 0 auto
  height: 150px

.user-profile__photo
  float: left
  margin: 0 0 0 25px
  border: 1px solid #dbdbdb
  border-radius: 76px

.user-profile__infos
  height: 100%
  float: right
  width: 67%

.user-profile__username
  margin: 0
  display: inline-block

.user-profile__edit-profile
  font-size: 13pt
  margin-left: 20px

.user-profile__add-photo
  font-size: 13pt
  margin-left: 10px

.user-profile__logout
  margin-left: 10px

.user-photos
  list-style: none

.user-photos__single
  height: 293px
  width: 293px
  border: 1px solid black
