.user-profile
  width: 75%
  margin: 5px auto
  height: 150px

.user-profile__photo
  float: left
  margin: 0 0 0 25px
  border: 1px solid $border-color
  border-radius: 76px

.user-profile__infos
  height: 100%
  float: right
  width: 67%

.user-profile__username
  margin: 0
  display: inline-block

.user-profile__edit-profile
  font-size: 13pt
  margin-left: 20px

.user-profile__add-photo
  font-size: 13pt
  margin-left: 10px

.user-profile__logout
  margin-left: 10px
  display: inline

.user-photos
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-wrap: wrap
  justify-content: flex-start
  width: 935px
  margin: 20px auto

.user-photos__single
  height: 293px
  width: 293px
  margin: 0 18px 20px 0
