.user-settings
  background-color: #fff
  @include flexbox()
  border: 1px solid $border-color

.user-settings__options
  @include flexbox()
  width: 25%
  border-right: 1px solid #000
  justify-content: center

  ul
    width: 100%
    padding: 0
    margin: 0
    list-style: none

    .tab
      width: 100%
      padding: rem(20px) 15%
      cursor: pointer

      &--selected
        padding: rem(20px) 15% rem(20px) calc(15% - rem(2px))
        border-left: 2px solid #000
        font-weight: bold

.user-settings__content
  width: 75%

.user-settings__field
  @include flexbox()
  width: 90%
  margin: rem(20px) auto
  align-items: center

  .left-side
    width: 25%
    margin-right: rem(10px)
    font-weight: bold
    text-align: right

    label
      width: 100%
    img
      width: 50px

  .right-side
    width: 60%

    .text_field
      @extend .field
      width: 100%
      padding: rem(5px) rem(10px)

  .right-side.checkbox
    display: inline-flex
    width: 80%
    align-items: center

    input
      margin-right: rem(10px)
