<div class="user-settings">
  <div class="user-settings__options">
    <ul>
      <li class="tab tab--selected" data-tab-target="edit-profile">Edit profile</li>
      <li class="tab" data-tab-target="change-password">Change password</li>
    </ul>
  </div>
  <div class="user-settings__content">
    <div class="tab-content" data-tab="edit-profile">
      <%= render 'user/tabs/edit_profile' %>
    </div>

    <div data-tab="change-password" class="tab-content hidden">
      <%= render 'user/tabs/change_password' %>
    </div>

  </div>
</div>
