<div class="user-settings">
  <h2 class="visually-hidden">Edit user</h2>
  <nav class="user-settings__options" aria-label="Tabs">
    <ul>
      <li class="tab tab--selected" data-tab-target="edit-profile">Edit profile</li>
      <li class="tab" data-tab-target="change-password">Change password</li>
    </ul>
  </nav>
  <section class="user-settings__content">
    <div class="tab-content" data-tab="edit-profile">
      <%= render 'user/tabs/edit_profile' %>
    </div>

    <div data-tab="change-password" class="tab-content hidden">
      <%= render 'user/tabs/change_password' %>
    </div>

  </section>
</div>
