@mixin flexbox()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@function rem($pixels)
  @if (unitless($pixels))
    $pixels: $pixels * 1px

  @return $pixels / 16px * 1rem


.button_to
  display: inline

.link
  color: $insta-blue
  text-decoration: none

.single-photo
  background-color: #fff

.button
  padding: rem(5px) rem(12px)
  border: 1px solid $border-color
  border-radius: 3px
  color: black
  font-size: rem(14px)
  font-weight: 600
  text-decoration: none
  background-color: #fff

  &.button--secondary
    background-color: $insta-blue
    color: #fff

  @media #{$tablet-breakpoint}
    padding: rem(5px) rem(24px)

.field
  border: 1px solid #efefef
  font-size: rem(16px)
  font-family: $font-family


.visually-hidden
  position: absolute
  overflow: hidden
  clip: rect(0 0 0 0)
  height: 1px
  width: 1px
  margin: -1px
  padding: 0
  border: 0

.hidden
  display: none
