.button_to
  display: inline

.message.alert
  color: $error-red
  text-align: center

.link
  color: $insta-blue
  text-decoration: none

.button
  font-size: 14px
  text-decoration: none
  color: black
  font-weight: 600
  padding: 5px 12px
  border: 1px solid $border-color
  border-radius: 3px

  @media #{$tablet-breakpoint}
    padding: 5px 24px

.like-button
  width: 10%
  height: 50px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  justify-content: center

  img
    width: 70%

  @media #{$tablet-breakpoint}
    width: 20%
