<% if record.errors.any? %>

  <div class="form__errors">
    <ul>
      <% for field, message in record.errors.messages %>
        <% if !message.empty? %>
          <li>
            <%= "#{field.to_s.capitalize} #{message.first.to_s}" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
