<footer class="main-footer clearfix">
  <ul class="main-footer__link-list">
    <li class="main-footer__link">
      <%= link_to 'About us' %>
    </li>
    <li class="main-footer__link">
      <%= link_to 'Support' %>
    </li>
    <li class="main-footer__link">
      <%= link_to 'Blog' %>
    </li>
  </ul>
  <small class="main-footer__brand">2016 RAILSINSTA</small>
</footer>
